*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
#root,html,body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;

}
main{
    height: 100%;
    
}
#imagem_tech{
    display: block;
    margin: auto;
    padding: 20px;

}

header{
    background-color:#b682f1;
    color:white;
    text-align: end;
    
    

}

a:visited{
    color: white;
}
a:hover{
    color: purple;

}

#titulo_1{
    text-align: center;
    font-size: 3em;
}
#texto_1{
    background-color: rgb(214, 174, 241);
    display: flex;
    text-align: center;
    padding: 20px;
    width: 1200px;
    margin: auto;
    font-size: 20px;
}
.rodape{
    display: flex;
    background-color: rgb(1, 53, 1);
    color: rgb(250, 242, 242);
    justify-content: center;
    font-size: 24px;
    line-height: 5px;
    width: 100vw;
    padding: 20px;
    
}
ul{
    list-style: none;

}