*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

#root,html,body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;

}

main{
    height: 100%;
    
}

#imagem_tech{
    display: block;
    margin: auto;
    padding: 20px;
    margin-bottom: 20px;

}

header{
    background-color:#b682f1;
    color:white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    

}

nav>ul>li{
    display: inline;
    font-size: 1.4em;
}

a:visited{
    color: white;
}

a:hover{
    color: purple;

}

#titulo_1{
    text-align: center;
    font-size: 3em;
}

#texto_1{
    background-color: rgb(214, 174, 241);
    display: flex;
    text-align: center;
    padding: 20px;
    width: 70vw;
    margin: auto;
    margin-top: 20px;
    font-size: 1.3em;
}

#buttons-div{
    text-align: center;
}

.buttons{
    background-color: #9f57f1;
    font-size: 1.3em;
    color: white;
    display: inline-block;
    margin: 5px auto 5px auto;
    cursor: pointer;
    padding: 3px;
    border: 1px solid black;
    border-radius: 3px;
}

.rodape{
    display: flex;
    background-color: #9f57f1;
    color: rgb(250, 242, 242);
    justify-content: left;
    padding: 10px;
    padding-left: 50px;
    font-size: 1.2em;
    /* line-height: 5px; */
    width: 100vw;

    position: absolute;
    bottom: 0;
}

.rodape > ul > li > a{
    display: flex;
}

#imagemGithub{
    display: inline-block;
    width: 30px;
}

/* centralizar input */
#login{
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 10px;
    padding: 5px;
    background-color: #7825d6;
    color: white;
    display: block;
    text-align: center;

}

#loginbutton{
     
}

h2  {
    display: inline-block;
    margin-top: 20px;
    width: 200px;
}